In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [2]:
content = pd.read_csv(r"C:\Users\ahmed\Desktop\Portfolio files\Accenture Project\Content (1).csv")
location = pd.read_csv(r"C:\Users\ahmed\Desktop\Portfolio files\Accenture Project\Location (1).csv")
profile = pd.read_csv(r"C:\Users\ahmed\Desktop\Portfolio files\Accenture Project\Profile (1).csv")
reactions = pd.read_csv(r"C:\Users\ahmed\Desktop\Portfolio files\Accenture Project\Reactions (1).csv")
reactionTypes =  pd.read_csv(r"C:\Users\ahmed\Desktop\Portfolio files\Accenture Project\ReactionTypes (1).csv")
session = pd.read_csv(r"C:\Users\ahmed\Desktop\Portfolio files\Accenture Project\Session (1).csv")
user = pd.read_csv(r"C:\Users\ahmed\Desktop\Portfolio files\Accenture Project\User (1).csv")

In [3]:
entries1 = location.notnull().sum()
total1 = location.isnull().sum().sort_values(ascending = False)
percent1 = (location.isnull().sum().sort_values(ascending = False))/(location.isnull().count().sort_values(ascending = False))*100


missing_data1 = pd.concat([entries1,total1, percent1],  axis =1, keys = ['Entries','Total', 'Percent'])
missing_data1

            Entries  Total  Percent
Unnamed: 0      500      0      0.0
User ID         500      0      0.0
Address         500      0      0.0

In [4]:
entries2 = profile.notnull().sum()
total2 = profile.isnull().sum().sort_values(ascending = False)
percent2 = (profile.isnull().sum().sort_values(ascending = False))/(profile.isnull().count().sort_values(ascending = False))*100


missing_data2 = pd.concat([entries2,total2, percent2],  axis =1, keys = ['Entries','Total', 'Percent'] )
missing_data2

            Entries  Total  Percent
Unnamed: 0      500      0      0.0
User ID         500      0      0.0
Interests       500      0      0.0
Age             500      0      0.0

In [5]:
entries6 = user.notnull().sum()
total6 = user.isnull().sum().sort_values(ascending = False)
percent6 = (user.isnull().sum().sort_values(ascending = False))/(user.isnull().count().sort_values(ascending = False))*100


missing_data6 = pd.concat([entries6, total6, percent6],  axis =1, keys = ['Entries','Total', 'Percent'])
missing_data6

            Entries  Total  Percent
Unnamed: 0      500      0      0.0
User ID         500      0      0.0
Name            500      0      0.0
Email           500      0      0.0

In [6]:
entries5 = session.notnull().sum()
total5 = session.isnull().sum().sort_values(ascending = False)
percent5 = (session.isnull().sum().sort_values(ascending = False))/(session.isnull().count().sort_values(ascending = False))*100


missing_data5 = pd.concat([entries5, total5, percent5],  axis =1, keys = ['Entries','Total', 'Percent'])
missing_data5

            Entries  Total  Percent
Unnamed: 0      500      0      0.0
User ID         500      0      0.0
Device          500      0      0.0
Duration        500      0      0.0

The client wants an analysis of their content categories that highlights the top 5 categories with the
largest aggregate popularity. To obtain this information I need to merge the content, reaction and reactiontypes tables together.

In [7]:
entries = content.notnull().sum()
total = content.isnull().sum().sort_values(ascending = False)
percent = (content.isnull().sum().sort_values(ascending = False))/(content.isnull().count().sort_values(ascending = False))*100
percent

missing_data = pd.concat([entries,total, percent],  axis =1, keys = ['Entries','Total', 'Percent'] )
missing_data

            Entries  Total  Percent
Unnamed: 0     1000      0      0.0
Content ID     1000      0      0.0
User ID        1000      0      0.0
Type           1000      0      0.0
Category       1000      0      0.0
URL             801    199     19.9

In [12]:
content['Category'].unique()

array(['Studying', 'healthy eating', 'technology', 'food', 'cooking',
       'dogs', 'soccer', 'public speaking', 'science', 'tennis', 'travel',
       'fitness', 'education', 'studying', 'veganism', 'Animals',
       'animals', 'culture', '"culture"', 'Fitness', '"studying"',
       'Veganism', '"animals"', 'Travel', '"soccer"', 'Education',
       '"dogs"', 'Technology', 'Soccer', '"tennis"', 'Culture', '"food"',
       'Food', '"technology"', 'Healthy Eating', '"cooking"', 'Science',
       '"public speaking"', '"veganism"', 'Public Speaking', '"science"'],
      dtype=object)

In [13]:
entries3 = reactions.notnull().sum()
total3 = reactions.isnull().sum().sort_values(ascending = False)
percent3 = (reactions.isnull().sum().sort_values(ascending = False))/(reactions.isnull().count().sort_values(ascending = False))*100


missing_data3 = pd.concat([entries3, total3, percent3],  axis =1, keys = ['Entries','Total', 'Percent'])
missing_data3

            Entries  Total    Percent
Unnamed: 0    25553      0   0.000000
Content ID    25553      0   0.000000
User ID       22534   3019  11.814660
Type          24573    980   3.835166
Datetime      25553      0   0.000000

In [14]:
entries4 = reactionTypes.notnull().sum()
total4 = reactionTypes.isnull().sum().sort_values(ascending = False)
percent4 = (reactionTypes.isnull().sum().sort_values(ascending = False))/(reactionTypes.isnull().count().sort_values(ascending = False))*100


missing_data4 = pd.concat([entries4, total4, percent4],  axis =1, keys = ['Entries','Total', 'Percent'])
missing_data4

            Entries  Total  Percent
Unnamed: 0       16      0      0.0
Type             16      0      0.0
Sentiment        16      0      0.0
Score            16      0      0.0

In [15]:
table1 =  pd.merge(content, reactions, on=['Content ID'], how = 'inner')
table1.drop(['Unnamed: 0_x','Unnamed: 0_y'], axis = 1, inplace = True)
table1

,Content ID,User ID_x,Type_x,Category,URL,User ID_y,Type_y,Datetime
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...,NaN,NaN,2021-04-22 15:17:15
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01
...,...,...,...,...,...,...,...,...
25548,75d6b589-7fae-4a6d-b0d0-752845150e56,b8c653b5-0118-4d7e-9bde-07c2de90f0ff,audio,technology,https://socialbuzz.cdn.com/content/storage/75d...,80c9ce48-46f9-4f5e-b3ca-3b698fc2e949,dislike,2020-06-27 09:46:48
25549,75d6b589-7fae-4a6d-b0d0-752845150e56,b8c653b5-0118-4d7e-9bde-07c2de90f0ff,audio,technology,https://socialbuzz.cdn.com/content/storage/75d...,2bd9c167-e06c-47c1-a978-3403d6724606,intrigued,2021-02-16 17:17:02
25550,75d6b589-7fae-4a6d-b0d0-752845150e56,b8c653b5-0118-4d7e-9bde-07c2de90f0ff,audio,technology,https://socialbuzz.cdn.com/content/storage/75d...,NaN,interested,2020-09-12 03:54:58
25551,75d6b589-7fae-4a6d-b0d0-752845150e56,b8c653b5-0118-4d7e-9bde-07c2de90f0ff,audio,technology,https://socialbuzz.cdn.com/content/storage/75d...,5ffd8b51-164e-47e2-885e-8b8c46eb63ed,worried,2020-11-04 20:08:31
25552,75d6b589-7fae-4a6d-b0d0-752845150e56,b8c653b5-0118-4d7e-9bde-07c2de90f0ff,audio,technology,https://socialbuzz.cdn.com/content/storage/75d...,4edc3d1a-a7d9-4db6-89c3-f784d9954172,cherish,2021-01-04 04:55:11

In [16]:
table1.columns

Index(['Content ID', 'User ID_x', 'Type_x', 'Category', 'URL', 'User ID_y',
       'Type_y', 'Datetime'],
      dtype='object')

In [17]:
table1.rename(columns = {'User ID_x':'User_ID_c', 'Type_x': 'Type_c', 'User ID_y': 'User_ID_r', 'Type_y': 'Type'},inplace= True )
table1

,Content ID,User_ID_c,Type_c,Category,URL,User_ID_r,Type,Datetime
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...,NaN,NaN,2021-04-22 15:17:15
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01
...,...,...,...,...,...,...,...,...
25548,75d6b589-7fae-4a6d-b0d0-752845150e56,b8c653b5-0118-4d7e-9bde-07c2de90f0ff,audio,technology,https://socialbuzz.cdn.com/content/storage/75d...,80c9ce48-46f9-4f5e-b3ca-3b698fc2e949,dislike,2020-06-27 09:46:48
25549,75d6b589-7fae-4a6d-b0d0-752845150e56,b8c653b5-0118-4d7e-9bde-07c2de90f0ff,audio,technology,https://socialbuzz.cdn.com/content/storage/75d...,2bd9c167-e06c-47c1-a978-3403d6724606,intrigued,2021-02-16 17:17:02
25550,75d6b589-7fae-4a6d-b0d0-752845150e56,b8c653b5-0118-4d7e-9bde-07c2de90f0ff,audio,technology,https://socialbuzz.cdn.com/content/storage/75d...,NaN,interested,2020-09-12 03:54:58
25551,75d6b589-7fae-4a6d-b0d0-752845150e56,b8c653b5-0118-4d7e-9bde-07c2de90f0ff,audio,technology,https://socialbuzz.cdn.com/content/storage/75d...,5ffd8b51-164e-47e2-885e-8b8c46eb63ed,worried,2020-11-04 20:08:31
25552,75d6b589-7fae-4a6d-b0d0-752845150e56,b8c653b5-0118-4d7e-9bde-07c2de90f0ff,audio,technology,https://socialbuzz.cdn.com/content/storage/75d...,4edc3d1a-a7d9-4db6-89c3-f784d9954172,cherish,2021-01-04 04:55:11

In [18]:
finaltable = pd.merge(table1, reactionTypes, on= ['Type'], how='inner')
finaltable.drop(['Unnamed: 0'], axis = 1, inplace = True)
finaltable

,Content ID,User_ID_c,Type_c,Category,URL,User_ID_r,Type,Datetime,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50,negative,0
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01,negative,0
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...,13c06e7e-833d-47eb-a790-5e09ccfd8d2c,disgust,2021-04-09 02:46:20,negative,0
3,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...,8b49caad-bcc5-43de-bf40-34a66ff8805c,disgust,2021-03-28 21:15:26,negative,0
4,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...,ef147ea5-9696-44d5-b6c2-a43f62fd8ce2,disgust,2020-08-04 05:40:33,negative,0
...,...,...,...,...,...,...,...,...,...,...
24568,435007a5-6261-4d8b-b0a4-55fdc189754b,35d6a1f3-e358-4d4b-8074-05f3b7f35c2a,audio,veganism,https://socialbuzz.cdn.com/content/storage/435...,d51a3403-8bab-4d88-af4f-a429c6d8c168,adore,2020-10-04 22:26:33,positive,72
24569,435007a5-6261-4d8b-b0a4-55fdc189754b,35d6a1f3-e358-4d4b-8074-05f3b7f35c2a,audio,veganism,https://socialbuzz.cdn.com/content/storage/435...,3663e3e6-3d5c-4ed9-a6af-1e680ec5f34b,adore,2020-09-18 10:50:50,positive,72
24570,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,b9bcd994-f000-4f6b-87fc-caae08acfaa1,GIF,culture,https://socialbuzz.cdn.com/content/storage/4e4...,89572273-761e-46f3-8b99-1689d98aac90,adore,2020-10-31 03:58:44,positive,72
24571,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,b9bcd994-f000-4f6b-87fc-caae08acfaa1,GIF,culture,https://socialbuzz.cdn.com/content/storage/4e4...,7bf3ce80-784e-42a0-b06a-dbbd1e31a9b7,adore,2020-06-25 15:12:29,positive,72
24572,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,b9bcd994-f000-4f6b-87fc-caae08acfaa1,GIF,culture,https://socialbuzz.cdn.com/content/storage/4e4...,dcc6000c-ba92-472c-8bc1-9e9ca30b475b,adore,2020-12-17 16:32:57,positive,72

In [19]:
entries7 = finaltable.notnull().sum()
total7 = finaltable.isnull().sum().sort_values(ascending = False)
percent7 = (finaltable.isnull().sum().sort_values(ascending = False))/(finaltable.isnull().count().sort_values(ascending = False))*100


missing_data7 = pd.concat([entries7, total7, percent7],  axis =1, keys = ['Entries','Total', 'Percent'])
missing_data7

            Entries  Total    Percent
Content ID    24573      0   0.000000
User_ID_c     24573      0   0.000000
Type_c        24573      0   0.000000
Category      24573      0   0.000000
URL           20056   4517  18.381964
User_ID_r     22534   2039   8.297725
Type          24573      0   0.000000
Datetime      24573      0   0.000000
Sentiment     24573      0   0.000000
Score         24573      0   0.000000

In [26]:
finaltable['Category'].unique()

array(['studying', 'healthy eating', 'dogs', 'public speaking', 'science',
       'tennis', 'food', 'fitness', 'soccer', 'education', 'travel',
       'veganism', 'cooking', 'technology', 'animals', 'culture'],
      dtype=object)

In [25]:
finaltable['Category'] = finaltable['Category'].str.replace('"', '', regex=True)
finaltable['Category']= finaltable['Category'].str.lower()

In [85]:
finaltable['Category'] =finaltable['Category'].replace(['"animals"','animals'])
finaltable['Category'] =finaltable['Category'].replace(['"cooking"', 'cooking'])
finaltable['Category'] =finaltable['Category'].replace(['"culture"','culture'])
finaltable['Category'] =finaltable['Category'].replace(['"dogs"', 'dogs'])
finaltable['Category'] =finaltable['Category'].replace(['"food"','food'])
finaltable['Category'] =finaltable['Category'].replace(['"public speaking"', 'public speaking'])
finaltable['Category'] =finaltable['Category'].replace(['"science"','science'])
finaltable['Category'] =finaltable['Category'].replace(['"soccer"', 'soccer'])
finaltable['Category'] =finaltable['Category'].replace(['"studying"','studying'])
finaltable['Category'] =finaltable['Category'].replace(['"technology"', 'technology'])
finaltable['Category'] =finaltable['Category'].replace(['"veganism"','veganism'])
finaltable['Category'] =finaltable['Category'].replace(['Education','education'])
finaltable['Category'] =finaltable['Category'].replace(['Fitness','fitness'])
finaltable['Category'] =finaltable['Category'].replace(['Healthy Eating','healthy eating'])
finaltable['Category'] =finaltable['Category'].replace(['Travel','travel'])

In [86]:
print(finaltable.groupby('Category').sum())

                  Score
Category
Animals           89506
Culture           18632
Food              28644
Public Speaking   34951
Science           63887
Soccer            32489
Studying           8983
Technology          217
Veganism          12925
tennis           683411

C:\Users\ahmed\AppData\Local\Temp\ipykernel_19196\3912527686.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print(finaltable.groupby('Category').sum())

In [27]:
finaltable.to_csv("Final_Table_Task2.csv")